@page "/"
@using DomainModels
@using System.Globalization
@using System.Diagnostics
@inject HttpClient Http
@using Microsoft.JSInterop
@inject IJSRuntime jsRuntime

<PageTitle>Home</PageTitle>
<link rel="stylesheet" href="home.css" />

<h3>Welcome to TamaTown Central!</h3>
<img src="Pictures/TamaTownCentralLogo.png" alt="TamaTown Central Logo" style="display: block; margin: 0 auto; width: 600px; height: 400px;">

<br />

<p style="text-align: center;">TamaTown Central is your ultimate destination for all things Tamagotchi! From caring for your digital pet to exploring fun mini-games and surprises, it's all here.</p>

<p style="text-align: center;">Whether you're a lifelong fan or brand new to the Tamagotchi universe, you'll find a cozy home here for you and your Tama companion.</p>

<p style="text-align: center;">Start your adventure today and help your Tamagotchi grow, play, and thrive in a vibrant digital world!</p>



@code {

}

