**/appsettings.json
**/appsettings.Development.json
**/ArduinoKode/arduino_secrets.h
bin/
obj/
.vs/

/API/appsettings.json
/Blazor/appsettings.json
/ArduinoKode/arduino_secrets.h
/sketch_apr30b 2/sketch_apr30b/carrier.h